#bible-content {
    .p {
        line-height:4vh;
        font-weight: 300;
        margin-bottom: -2vh;
    }

    .v {
        padding-right: 5px;
        font-weight: 600;
        font-size: 0.8em;
    }
}
